body {
  font-size:  70%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 0;
  overflow: auto;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade_pop_up { 
  0% {
    transform: scale(.75);   
    opacity: 0;
  } 
  100% {
    transform: scale(1);  
    opacity: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 * {
    /* border: 1px dashed orange;  */
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-family:  Jost, Bellefair ;
   margin: 0;
   outline: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  button:active {
    opacity: .5;
  }

 /* input,
 button {
   font-family: Open Sans;
 } */

 
*::-webkit-scrollbar {
  background: #EEE; 
  display: flex;  
  height: 5px;
  width: 5px;
}
 
/* *::-webkit-scrollbar-track {
  background: #6782E050;
  border-radius: 10px;
  width: 5px;
} */
 
*::-webkit-scrollbar-thumb {
  background: #6782E050;
  border-radius: 10px;
  width: 5px;
}
